p {
  color: green;
}

ul li {
  list-style-type: upper-roman;
  color: green;
}

div>p {
  background-color: yellow;
}

div+p {
  background-color: red;
}

#first {
  color: blue;
}

.intro {
  background-color: #aa22;
}