<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>File upload</title>
</head>

<body>
  <h2>Choose a file from Your device:</h2>
  <form method="POST" enctype="multipart/form-data">
    <input type="file" name="file" id="">
    <br>
    <button>Send a file...</button>
  </form>
</body>

</html>