<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CSRF</title>
</head>

<body>
  <form action="/process" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">

    Enter your PIN: <input type="text" name="favoriteColor">
    <button type="submit">Submit</button>
  </form>
</body>

</html>