<html>

<body>
  <input type="button" onclick="location.href='/file';" value="Send a file to server" /><br><br>
  <input type="button" onclick="location.href='/sessions';" value="Info about the session" /><br><br>
  <input type="button" onclick="location.href='/radio';" value="Radio list" /><br><br>
  <input type="button" onclick="location.href='/cookie';" value="Cookies" />
  <input type="button" onclick="location.href='/clear';" value="Clear cookies" /><br><br>
  <input type="button" onclick="location.href='/form';" value="Csrf" /><br><br>
</body>

</html>